<%- include('../partials/header'); -%>

    <div class="d-flex flex-column" style="min-height: 100vh">

      <%- include('../partials/navbar'); -%>
      
      <div class="starter-template flex-grow-1 d-flex flex-column justify-content-center">
        <div class="container">

            <% if(session.user) {%>

              <% if(!session.isValidationRequired) {%>

                <%- include('content-chat.ejs', {messages, users}); -%>

              <% } else {%>

                <%- include('content-need-validate.ejs',); -%>

              <% } %>

            <% } else { %>

              <%- include('content-not-registered.ejs'); -%>

            <% } %>

        </div>
      </div>
    </div>

    <% if(session.user && !session.isValidationRequired) {%>
      <script type="module" src="./public/js/sockets.js?v=1.02"></script>
    <% } %>

<%- include('../partials/footer'); -%>

