<%- include('../partials/header'); -%>

    <div class="d-flex flex-column" style="min-height: 100vh">
      <%- include('../partials/navbar'); -%>
      <div class="starter-template flex-grow-1 d-flex flex-column justify-content-center">
        <div class="mx-auto mb-5" style="max-width: 600px;">
          <div>
            <h2 class="text-center mb-4">Users</h2>
            <div class="border rounded bg-light text-dark mx-auto my-3 py-4 px-3 text-center" style="min-height:350px; width:350px">
              <ul class="mb-5 mx-auto pl-3 d-inline-block text-left">
                <% for (let i = 0; i < users.length; i++) { %>
                  <% 
                    let birthStr = users[i].birth.match(/^([0-9]+)-/); 
                    let yearNow = new Date().getFullYear();
                    let age = parseInt(yearNow) - parseInt(birthStr[1]);  
                  %>
                  <li class="timeline-yellow">
                    <span><%= users[i].login %></span><strong class="ml-1">(<%= age %>y)</strong>                
                  </li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

<%- include('../partials/footer'); -%>
